.container {
  margin: 0 auto;
  width: 1110px;
  list-style-type: none;
}
.logotipe {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 30px;
  line-height: 32px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #0f0101;
}

h1 { float: left;}

h1::first-letter {
  color: #1abc9c;
  font-weight: 900;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.site-navigation {
  margin: 0;
  padding-top: 40px;
  float: right;
  list-style-type: none;
  font-family: "Roboto", sans-serif;
  font-size: 9px;
  font-weight: 900;
  color: #0f0101;
}

.site-navigation-item {
  float: left;
  margin-right: 35px;
  text-transform: uppercase;
}

.site-navigation-item:last-child {margin-right: 0;}


.site-navigation a {
  text-decoration: none;
  color: #0f0101;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 900;
  display: block;
}

.site-navigation-item a:hover {
  color: #1abc9c;
}

img {
  display: block;
}

.title {
  margin: auto;
  padding-top: 68px;
  display: block;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  line-height: 48px;
  font-weight: 900;
  text-transform: uppercase;
  color: #515151;
  margin-bottom: 76px;
}

.content-list {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}

.content-list-item {
  float: left;
  width: 255px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.content-list-item:nth-child(4n) {
  margin-right: 0;
}

.description-cart {
  width: 255px;
  float: left;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 900;
  background: #323232;
}

.description-price {
  float: right;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 900;
  width: 54px;
  margin: 0;
  text-align: center;
  background: #8c8c8c;
}

.description-cart a {
  text-decoration: none;
  margin-left: 13px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 32px;
}

.description-price a {
  text-decoration: none;
  color: #fff;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 32px;
}

.content-list-item:hover .description-cart {
  background: #1abc9c;
} 

.content-list-item:hover .description-price {
  background: #7fd9c7;
}

.subtitle {
  float: left;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 900;
  text-decoration: none;
}

h2::after {
  display: block;
  content: "";
  width: 164px;
  height: 7px;
  color: #515151;
  background: #1abc9c;
  margin: auto;
  margin-top: 32px;
}


.caption {
  margin: auto;
  margin-bottom: 76px;
  margin-top: 74px;
  display: block;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 900;
  text-transform: uppercase;
  color: #555252;
}

.content-list-news {
  width: 1110px;
  padding: 0;
}
.content-list-item-news {
  float: left;
  list-style-type: none;
  width: 350px;
  padding: 0;
  margin-right: 30px;
  margin-bottom: 48px;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  color: #555252;
  margin-top: 16px;
  margin-bottom: 44px;
}

.content-list-item-news:nth-child(3n) {
  margin-right: 0;
}

.news-description {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 600;
  color: #555252;
  margin-bottom: 16px;
}

h3::after {
  display: block;
  content: "";
  width: 136px;
  height: 3px;
  color: #515151;
  background: #1abc9c;
  margin: 14px 0;
}
.more {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 14px 38px;
  background: #1abc9c;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
}


